#Ignore folders
.venv/
#Ignore results
results/2d_acoustic/*
!results/2d_acoustic/.gitkeep

results/2d_elastic/*
!results/2d_elastic/.gitkeep

results/vibro_elastic/*
!results/vibro_elastic/.gitkeep

results/2d_vankor/*
!results/2d_vankor/.gitkeep
#Ignore data
data/Meshdurechenskaya/*
!data/Meshdurechenskaya/.gitkeep

data/2D_Scenarios/*
!data/2D_Scenarios/.gitkeep

data/AM_model/*
!data/AM_model/.gitkeep

data/Oshkin_vankor_model/*
!data/Oshkin_vankor_model/.gitkeep

data/vibro_seis/*
!data/vibro_seis/.gitkeep

data/VSP_Gypsum_data/*
!data/VSP_Gypsum_data/.gitkeep

data/data
#Ignore files
.ipynb_checkpoints
