#Ignore folders
.venv/
data/Meshdurechenskaya/
#Ignore results
results/2d_acoustic/oshkin_model/*
results/2d_acoustic/VSP_Gypsum/VSP*/*
results/2d_elastic/*
results/vibro_elastic/*
Results/
#Ignore data
data/2D_Scenarios/*
data/AM_model/*
data/Oshkin_vankor_model/*
data/vibro_seis/*
data/VSP_Gypsum_data/*
#Ignore files
.ipynb_checkpoints
